body {
    background-color: burlywood;
}


.container-title {
    color:blue;
    text-align: center;
    
    
}

.container{
    color:green;
    text-align: center;
}

.about-me{

    color:brown;
    text-align: center;

}

.flex-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 22px;
}